@model VentaMusical.Models.ViewModels.VistaFacturaViewModel

@{
    ViewBag.Title = "Factura";
}

@{
    var formasDePago = Model.FormasDePago.Select(g => new SelectListItem
    {
        Value = g.IdFormaPago.ToString(),
        Text = g.Descripcion,
        Selected = g.IdFormaPago == (Model.Encabezado == null ? 0 : Model.Encabezado.IdFormaPago)

    }).ToList();

}

<input type="hidden" id="NumeroFactura" name="NumeroFactura" value="@(Model.Encabezado == null ? "0" : Model.Encabezado.NumeroFactura.ToString())">


<div class="container mt-5">
    <div class="form-group row align-items-center">
        <div class="col-md-4">
            <input type="hidden" id="CodigoUsuario" name="CodigoUsuario" value="@(Model.Encabezado == null ? "0" : Model.Encabezado.NumeroIdentificacion)">
            <label for="NombreUsuario" class="col-form-label">
                <i class="fas fa-user"></i> Usuario:
            </label>
            <div class="input-group mb-2">
                <input type="text" readonly class="form-control" id="NombreUsuario" value="@(Model.Encabezado == null ? "" : Model.Encabezado.NombreUsuario)">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="btnAgregarUsuario" data-bs-toggle="modal" data-bs-target="#modalUsuario">
                        <i class="fas fa-user-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row align-items-center">
        <div class="col-md-4">
            <label for="FormasDePago" class="col-form-label">
                <i class="fas fa-credit-card ml-2"></i> Forma de Pago:
            </label>
            @Html.DropDownList("FormasDePago", formasDePago, new { @class = "form-control", @id = "selectFormasDePago" })
        </div>
    </div>

    <div class="col-md-12 d-flex justify-content-end mb-2 mt-4">
        <button class="btn btn-primary" type="button" id="btnAgregarLinea" data-bs-toggle="modal" data-bs-target="#modalCancion">
            <i class="fas fa-plus-circle"></i> Agregar Canción
        </button>
    </div>

    <table class="table table-bordered table-striped table-hover" id="facturaTable">
        <thead>
            <tr class="text-center">
                <th class="d-none">Cod Canción</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Impuesto</th>
                <th>Subtotal</th>
                <th>Total</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Lineas != null)
            {
                if (Model.Lineas.Any())
                {
                    foreach (var item in Model.Lineas)
                    {
                        <tr class="text-center">
                            <td class='d-none'> @(item.CodigoCancion)</td>
                            <td> @(item.CodigoCancion)</td>
                            <td><input type="number" class="form-control form-control-sm quantity" value="@(item.Cantidad)" min="1" /></td>
                            <td> @(item.Precio)</td>
                            <td>
                                @Html.DropDownList(
                                 "impuestos",
                                 Model.Impuestos.Select(g => new SelectListItem
                                 {
                                     Value = g.IdImpuesto.ToString(),
                                     Text = $"{g.Descripcion} {(int)g.Porcentaje}%",
                                     Selected = item.IdImpuesto == g.IdImpuesto
                                 }).ToList(),
                                 new { @class = "form-control", @id = "selectImpuestos" }
                                )
                            </td>
                            <td class="subtotal"> @(item.SubTotal)</td>
                            <td class="total"> @(item.Total)</td>
                            <td>
                                <button class="btn btn-danger btn-sm remove-row">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="text-right"><strong>Subtotal:</strong></td>
                        <td id="subtotal" class="text-right">
                            @(Model.Encabezado == null ? "0.00" : Model.Encabezado.Subtotal.ToString("F2"))
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Total:</strong></td>
                        <td id="total" class="text-right">
                            @(Model.Encabezado == null ? "0.00" : Model.Encabezado.Total.ToString("F2"))
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12 d-flex justify-content-end mb-2">
        <button id="btnGuardar" class="btn btn-success" type="button" id="btnFinalizarCompra">
            <i class="fas fa-check-circle"></i> Finalizar Compra
        </button>
    </div>

</div>

<div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar Usuario</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="usuarioTable" class="DtTable table table-striped table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Indentificación</th>
                            <th>Nombre</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.Usuarios)
                        {
                            <tr class="text-center">
                                <td>@usuario.NumeroIdentificacion</td>
                                <td>@usuario.Nombre</td>
                                <td>
                                    <button class="btn btn-success btn-sm select-user" data-id="@usuario.NumeroIdentificacion" data-nombre="@usuario.Nombre">
                                        <i class="fas fa-hand-pointer"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalCancion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- Agregar la clase modal-lg para un modal más ancho -->
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar Canción</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <!-- Añadir una clase para hacer la tabla responsiva -->
                    <table id="cancionTable" class="DtTable table table-striped table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Genero</th>
                                <th>Precio</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cancion in Model.Canciones)
                            {
                                <tr class="text-center">
                                    <td>@cancion.CodigoCancion</td>
                                    <td>@cancion.Nombre</td>
                                    <td>@cancion.NombreGenero</td>
                                    <td>@cancion.Precio</td>
                                    <td>
                                        <button id="btnSeleccionarLinea" class="btn btn-success btn-sm select-cancion" data-codigo="@cancion.CodigoCancion" data-nombre="@cancion.Nombre" data-precio="@cancion.Precio">
                                            <i class="fas fa-hand-pointer"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/factura")
}
