@model VentaMusical.Models.ViewModels.VistaFacturaViewModel

@{
    ViewBag.Title = "Factura";
}

<div class="container mt-5">

    <div class="form-group row">
        <div class="col-5">
            <input type="hidden" id="CodigoUsuario" name="CodigoUsuario" value="0">
            <label for="nombreUsuario" class="col-form-label">Usuario:</label>
            <div class="input-group mb-2">
                <input type="text" readonly class="form-control" id="NombreUsuario">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="btnAgregarUsuario" data-bs-toggle="modal" data-bs-target="#modalUsuario">
                        <i class="fas fa-user-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-5">
            <div class="input-group-append">
                <button class="btn btn-success" type="button" id="btnAgregarLinea" data-bs-toggle="modal" data-bs-target="#modalCancion">
                    <i class="fas fa-user-plus"></i>
                </button>
            </div>
        </div>
    </div>


    <table class="table table-bordered table-striped table-hover" id="facturaTable">
        <thead>
            <tr class="text-center">
                <th>Cod Canción</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Impuesto</th>
                <th>Subtotal</th>
                <th>Total</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas de la tabla se agregarán aquí dinámicamente -->
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar Usuario</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <table id="usuarioTable" class="DtTable table table-striped table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Indentificación</th>
                            <th>Nombre</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.Usuarios)
                        {
                            <tr class="text-center">
                                <td>@usuario.NumeroIdentificacion</td>
                                <td>@usuario.Nombre</td>
                                <td>
                                    <button class="btn btn-success btn-sm select-user" data-id="@usuario.NumeroIdentificacion" data-nombre="@usuario.Nombre">
                                        <i class="fas fa-hand-pointer"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCancion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar Canción</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <table id="cancionTable" class="DtTable table table-striped table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cancion in Model.Canciones)
                        {
                            <tr class="text-center">
                                <td>@cancion.CodigoCancion</td>
                                <td>@cancion.Nombre</td>
                                <td>@cancion.Precio</td>
                                <td>
                                    <button class="btn btn-success btn-sm select-cancion" data-codigo="@cancion.CodigoCancion" data-nombre="@cancion.Nombre" data-precio="@cancion.Precio">
                                        <i class="fas fa-hand-pointer"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/factura")
}
